/* 
    Created on : Dec 19, 2015, 3:44:05 PM
    Author     : John
*/

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.btn{
    color: lightgrey;
}

.btn-lg{
    font-size: 2.5vh;
}

.btn:hover{
    color: white;
}


.question-parent-div{
    font-size: 3vh;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

.question-buttons{
    margin-left: auto;
    margin-right: auto;
    
}

.question-div{
    position: fixed;
    margin: auto;
    max-width: 40vw;
    max-height: 40vh;
    top: 30vh;
    left: 30vw;
}

#question-1-div{
    opacity: 0;
    visibility: hidden;
}

#question-2-div{
    opacity: 0;
    visibility: hidden;
}

#question-3-div{
    opacity: 0;
    visibility: hidden;
}

#question-4-div{
    opacity: 0;
    visibility: hidden;
}

#question-5-div{
    opacity: 0;
    visibility: hidden;
}

form{
    font-size: 2.5vh;
}

input, textarea {
    color: black;
}
