/* 
    Created on : Dec 19, 2015, 3:44:05 PM
    Author     : John
*/

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.btn{
    color: lightgrey;
}

#mute-button:hover{
    color: white;
}

#fullscreen-button:hover{
    color: white;
}
